<?xml version="1.0"?>
<config>
    <modules>
        <Sforsoftware_Sconnect>
            <version>2.0.2.2</version>
        </Sforsoftware_Sconnect>
    </modules>
    <global>
        <events>
            <sales_order_save_after>
                <observers>
                    <sforsoftware_sconnect>
                        <class>sforsoftware_sconnect/observer_order</class>
                        <method>saveForExport</method>
                    </sforsoftware_sconnect>
                </observers>
            </sales_order_save_after>
        </events>
        <models>
            <sforsoftware_sconnect>
                <class>Sforsoftware_Sconnect_Model</class>
                <resourceModel>sforsoftware_sconnect_resource</resourceModel>
            </sforsoftware_sconnect>
            <sforsoftware_sconnect_resource>
                <class>Sforsoftware_Sconnect_Model_Resource</class>
                <entities>
                    <export_order>
                        <table>sconnect_export_order</table>
                    </export_order>
                </entities>
            </sforsoftware_sconnect_resource>
        </models>
        <blocks>
            <sforsoftware_sconnect>
                <class>Sforsoftware_Sconnect_Block</class>
            </sforsoftware_sconnect>
        </blocks>
        <helpers>
            <sforsoftware_sconnect>
                <class>Sforsoftware_Sconnect_Helper</class>
            </sforsoftware_sconnect>
        </helpers>
        <resources>
            <sforsoftware_sconnect_setup>
                <setup>
                    <module>Sforsoftware_Sconnect</module>
                </setup>
            </sforsoftware_sconnect_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <sconnect_index>
                <use>standard</use>
                <args>
                    <frontName>sconnect</frontName>
                    <module>Sforsoftware_Sconnect</module>
                </args>
            </sconnect_index>
        </routers>
    </frontend>
    <default>
        <sforsoftware>
            <sconnect_orders>
                <description>Van webshop</description>
                <order_statuses>pending</order_statuses>
            </sconnect_orders>
            <sconnect_products>
                <import_images>0</import_images>
                <overwrite_product_name>1</overwrite_product_name>
                <overwrite_product_description>1</overwrite_product_description>
                <snelstart_tax_rate_0>0</snelstart_tax_rate_0>
                <snelstart_tax_rate_1>0</snelstart_tax_rate_1>
                <snelstart_tax_rate_2>0</snelstart_tax_rate_2>
            </sconnect_products>
            <sconnect_debug>
                <enable_debug_modus>0</enable_debug_modus>
            </sconnect_debug>
        </sforsoftware>
    </default>
</config>